@model IEnumerable<NS.DigitalMenuData.Entities.Menu>

<div class="container">
     <h3 class="h3">All Dishes</h3>
           <div class="row"> 
            @foreach (var dish in Model)
            {
                 <div class="col mb-4">
                 <div class="card" style="width: 18rem;">
                    <img src="@dish.DishImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">@dish.DishName</h5>
                      <p class="card-text">@dish.DishDescription</p>
                      @Html.ActionLink("UpdateDish","UpdateDish","Menu",new{id = @dish.DishId})
                       @Html.ActionLink("GetDishById","GetDishById","Menu",new{id = @dish.DishId})
                    </div>
                  </div>
              </div>
            
            }
              </div>
              </div>
